*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
    font-size: 30px;
    font: weight 900px;;

}
.color-orange{
    color:red;
}


.btn{
background-color: orange;
border: none;
padding: 15px 30px ;
border-radius: 5px ;
font-size: 15px;
font-weight: bold ;
color: #fff8f3;
cursor: pointer;

}

.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #474747;

}

/* main style */
header{
    background-color: #fff8f3;
    
    padding: 15px 0;
}
nav{
    width: 71%;
    max-width: 1140px;
    /*border: 1px solid red;*/
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banar{
    border: 1px solid red;
    margin: 47px 50px 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banar .banar-content{
    max-width: 585px;
}

#banar .banar-content h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
}
#banar .banar-content h1{
    font-size: 70px;
    font-weight: bold;
    color: chocolate;
    margin-bottom: 20px ;
}
#banar .banar-content p{
    font-size: 18px ;
    color: brown;
    line-height: 30px;
    margin-bottom: 30px;

}
#banar .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: bisque;
    padding: 130px 155px;
   
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
     font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #474747;
    
}
.about-info .info-card h2{
    font-size: 20px;
}
   
